.page-title {
  margin-top: 0;
}

.main-page-title {
  margin-bottom: 3rem;
}

.page-section{
  max-width: 832px;
  margin: 0 auto 100px !important;
}

@media screen and (min-width: 750px) {
  .main-page-title {
    margin-bottom: 4rem;
  }
}

.page-placeholder-wrapper {
  display: flex;
  justify-content: center;
}

.page-placeholder {
  width: 52.5rem;
  height: 52.5rem;
}

.page-top-description{
  width: 100%;
  margin: auto;
  background:  rgb(255 255 255 / 90%); 
  writing-mode: vertical-rl;
  padding: 57px 105px 100px;
  height: 608px;
  display: flex;
  align-items: center;
  line-height: 3em;
  letter-spacing: .2em;
  margin-top: -184px !important;
  position: relative;
  box-shadow: 0px 3px 6px #00000029;    
}

.section-title1{
  font-size: 24px;
  margin-bottom: 47px;
}

.page-section-title{
  text-align: center;
  font-family: 'Ryo Text PlusN M';
}

.page-section-title{
  position: relative;
  max-width: 832px;
  margin-left: auto;
  margin-right: auto;  
}

.section-title1 span:before,.section-title1 span:after{
  content: '';
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
}

/* .section-title1 span:before{
  background-image: url(https://cdn.shopify.com/s/files/1/0667/7699/0014/files/title_asset5.png?v=1666753409);
  left: 0;
  bottom: 0;
  transform: translateX(-100%); 
  width: 140px;
  height: 40px;  

} */

.section-title1 span{
  position: relative;
  z-index: 9;
}

.section-title1:after{
  background-image: url(https://cdn.shopify.com/s/files/1/0667/7699/0014/files/title_asset6.png?v=1667213066);
  width: 336px;
  height: 37px;
  content: '';
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: block;
  position: absolute; 
  top: -30%;
  left: 28%;     
}

.sub-title{
  font-size: 20px;
  margin-bottom: 50px;
  position: relative;
  display: inline-block;
}

.kaiseki-point,.cooking-point{
  text-align: center;
}

.sub-title span{
  position: relative;
  z-index: 9;
}

.sub-title:before{
  content: '';
  background-image: url(https://cdn.shopify.com/s/files/1/0667/7699/0014/files/title_asset1.png?v=1666753409);
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: block;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%,-50%);
}

.section-title2 span{
  position: relative;
}

.section-title2{
  font-size: 20px;
  margin-bottom: 47px;
}

.section-title2 span:before,.section-title2 span:after{
  content: '';
  position: absolute;
  width: 100px;
  height: 1px;
  border-top: 1px solid #333;
  top: 50%;
  transform: translateY(-50%);
}

.section-title2 span:before{
  left: -130px;
}

.section-title2 span:after{
  right: -130px;
}

.parallex{
  /* Set a specific height */
  min-height: 514px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block !important;
}

.link-button{
  border-radius: 10px;
  border-radius: none;
  width: 400px;
  height: 60px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  text-decoration: none;
  box-shadow: 0px 3px 6px rgb(0 0 0 / 16%);   
}

.button-type1{
  background: #333;
  color: white !important;
  margin-top: 100px;  
}

.button-type2{
  background: #B5811E;
  color: white !important;
}

.text-center{
  text-align: center;
}

.reservation-box{
  border: 1px solid #333333;
  margin-top: 58px !important;
}

.reservation-box-inner{
    max-width: 360px;
    margin: auto;
}

#koshihikari{
  margin-top: 76px;
}

.reservation-box .border-bottom{
  padding-bottom: 17px;
  border-bottom: 1px solid #333;
  margin: 47px 0 30px;
  font-size: 18px;
}

.reservation-box .contact-info{
  font-size: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 46px;  
}

.reservation-box .contact-info img{
  width: 24px;
  margin-bottom: 0;
  margin-right: 15px;
}

.reservation-box-inner .link-button{
  margin-bottom: 40px;
}

.reservation-wrapper{
  margin-top: 120px;
  text-align: center;
}

.cooking-top-desc{
  margin-top: 150px;
}

.line-button{
  margin: 40px auto 120px;
}

.line-button span{
  background-image: url("https://cdn.shopify.com/s/files/1/0667/7699/0014/files/line-bg_cdc85752-cda4-4b33-8955-f672fa1be697.png?v=1667878069");
  background-size: 100% 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
  width: 360px;
  height: 70px;
  font-family: heisei-maru-gothic-std, sans-serif;
  font-weight: 800;
  font-style: normal;
  box-shadow: 0px 3px 6px rgb(0 0 0 / 16%);   
  border-radius: 10px;
}

.line-button span img{
  margin-right: 10px;
}

.cooking-price{
  display: flex;
  justify-content: space-between;
  max-width: 480px;
  margin: auto;
  border-bottom: 1px solid #333333;
  padding-bottom: 10px;
  margin-top: 30px;
}

.first-section{
  margin-top: 150px !important;
}

.recommends{
  max-width: 700px;
  margin: auto;
  background: white;
  padding: 75px 150px 80px;
}

.recommend-item{
  background-image: linear-gradient(to right,#333 50%,white 0%);
  background-position: bottom;
  background-size: 3px 1px;
  background-repeat: repeat-x;
  padding: 40px 0 40px 25px;
}

.section-title3{
  display: inline-block;
  position: relative;
  margin: 0 0 40px;
}

.section-title3:before{
  content: "";
  background-image: url(https://cdn.shopify.com/s/files/1/0667/7699/0014/files/title_asset4.png?v=1666753407);
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: block;
  width: 140%;
  height: 220%;
  position: absolute;
  left: -20%;
  top: 0%;
  font-size: 20px;
}

.sub-title2{
  position: relative;
  display: inline-block;
  width: 80px;
  margin: 0;
}

.sub-title2 span{
  position: relative;
  z-index: 9;
}

.sub-title2:before{
  content: '';
  background-image: url(https://cdn.shopify.com/s/files/1/0667/7699/0014/files/title_asset3.png?v=1666753407);
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: block;
  width: 42px;
  height: 42px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%,-50%);  
}

.recommend-name{
  color: #6B5409;
}

.store-info-point{
  max-width: 642px;
  margin: auto;
}

.store-info-point table{
    -webkit-border-horizontal-spacing: 30px;
    border-collapse: separate;
    margin: auto;
    box-shadow: none;
    table-layout: auto !important;
    width: 100%;
}

.store-info-point table tr td{
  padding: 30px 0 20px;
}

.store-info-point table tr td:first-child{
  border: none;
  border-bottom: 1px solid #B5811E;
  text-align: right;
  vertical-align: bottom;
}

.store-info-point table tr td:last-child{
  border: none;
  border-bottom: 1px solid #333333;
}

.store-info-note p{
  position: relative;
  margin: 0;
  padding-left: 15px;
}

.store-info-note p:before{
  content: '';
  background-image: url(https://cdn.shopify.com/s/files/1/0667/7699/0014/files/note-mark.png?v=1666753407);
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: block;
  width: 16px;
  height: 10px;
  position: absolute;
  left: -7px;
  top: 7px;   
}

.store-map{
  max-width: 1200px !important;
  margin: 0 auto 118px;
}

.gmap-container{
  height: 400px;
}

.gmap-container iframe{
  height: 100%;
  width: 100%;
}

.map-desc{
  font-size: 14px;
  margin: 10px 0;
}

.button:not([disabled]):hover:after{
  --border-offset: 0;
}

#shopify-section-template--16706659090750__main #section-reservation{
  display: none;
}

.section-template--16706659090750__main-padding{
  padding-bottom: 0 !important;
}
#Banner-template--16706659090750__b0378018-d60f-4b3e-8504-c5acb59d27f9{
  margin-bottom: 114px;
}
#Banner-template--16706659090750__b0378018-d60f-4b3e-8504-c5acb59d27f9 img{
  max-width: 1360px;
  left: 50%;
  transform: translateX(-50%);
  height: auto;
}
#Banner-template--16706659090750__b0378018-d60f-4b3e-8504-c5acb59d27f9 .banner__media{
  background-color: transparent;
}
.contact{
  margin-bottom: 116px;
}
.u-sp{
  display: none;
}
.kodawari-point {
  text-align: center;
}

.kodawari-point p:not(.page-section-title){
  text-align: left;
}
.section-title3 span{
  position: relative;
} 
#section-reservation .page-section-title{
  margin-bottom: 37px;
}
.top-general.page-top-image img{
  max-width: min(100%, 1200px);
}
@media(min-width: 768px) and (max-width: 991px)
{
  .page-top-description{
    width: 90%;
  }
}

@media(max-width: 767px)
{
  .page-top-image{
    overflow: hidden; 
    margin-left: -1.5rem;
    margin-right: -1.5rem; 
    margin-top: -1rem;
    height: 48vw;
  }
  .page-top-description{
    writing-mode: initial;
    padding: 37px 50px 48px;
    font-size: 14px;
    height: auto;
    text-align: center;
    letter-spacing: -0.1em;
    margin-top: -30px !important;
  }
  .page-top-description p{
    line-height: 2.4em;
    margin: 0;
    justify-content: center;
  }
  .u-pc{
    display: none;
  }  
  .u-sp{
    display: block;
  }  
  .section-title2 span:before, .section-title2 span:after{
    width: 50px;
  }
  .parallex {
      min-height: 55vw;
      margin: 0 -1.5rem;
  } 
  .reservation-box{
    margin-top: 45px !important;
  }  
  .reservation-wrapper{
    margin-top: 100px;
  }  
  .reservation-box-inner .link-button{
    width: 275px;
    margin: 0px 0px 20px;
    height: 46px;    
  } 
  .reservation-box-inner{
    max-width: 275px;
  }
  .reservation-box .border-bottom{
    margin-top: 37px;
    padding-bottom: 18px;
  }
  .border-bottom{
    font-size: 16px !important
  }
  .reservation-box .contact-info{
    font-size: 20px !important;
    margin: -4px 0 38px;  
  }
  .reservation-box .contact-info img{
    width: 19px;
    margin-right: 6px;
  }  
  .section-title2, .sub-title{
    font-size: 18px;
  }
  .sub-title2:before{
    width: 38px;
    height: 38px;
  }
  .sub-title:before{
    width: 40px;
    height: 40px;    
  }
  .sub-title{
    letter-spacing: -1px;
  }
  .section-title2 span:before{
    left: -17vw;
  }
  .section-title2 span:after{
    right: -17vw;
  }
  .section-title1{
    font-size: 20px;
  }
/*   .section-title1 span:before{
    width: 120px;
  }   */
  .section-title1:after{
    background-image: url(https://cdn.shopify.com/s/files/1/0667/7699/0014/files/title_asset6_sp.png?v=1667213066);
    width: 294px;
    height: 32px;
    left: 6%;
  }
  .copyright__content{
    font-size: 10px;
  }
  .cooking-top-desc{
    margin-top: 97px;
  }
  .line-button span{
    width: 335px;
    height: 65px;
    font-size: 27px; 
    padding-top: 3px;  
  }
  .line-button span img{
    width: 42px;
  }
  .first-section {
      margin-top: 100px!important;
  }  
  .recommends{
    padding: 50px 20px 60px;
  }
  .section-title3{
    font-size: 18px;
  } 
  .recommend-name{
    font-size: 14px;
  }
  .store-info-point table{
    -webkit-border-horizontal-spacing: 15px;
  }
  .store-info-point{
    margin: auto -15px;
  }
  .store-info-point table tr td:first-child{
    min-width: 70px
  }
  .store-info-point table tr td{
    font-size: 13px;
  }
  .gmap-container{
    height: 42vw;
  }
  .map-desc{
    font-size: 12px;
  }
  .store-map+.parallex{
    height: 43vw;
    min-height: 0;
  }
  .contact .field{
    display: block !important;
  }
  .contact .field__input{
    max-width: none !important;
    margin-left: 0 !important;
    margin-top: 10px !important;
  }
  .contact__button button{
    width: 335px;
    height: 50px;
  }
  .contact__button{
    margin-top: 80px;
  }
  #shopify-section-template--16706659057982__c0a095a4-595a-4308-aac2-d9e3ccdc019b .rich-text{
    margin-top: -30px;
  }
  #Banner-template--16706659057982__2bd58e47-0336-43a5-bf20-822f0ab62c61 .banner__media{
    height: 48vw;
  }
  #shopify-section-template--16706659057982__c0a095a4-595a-4308-aac2-d9e3ccdc019b{
    width: 90vw;
    margin: auto;
  }
  #shopify-section-template--16706659057982__c0a095a4-595a-4308-aac2-d9e3ccdc019b .rich-text__wrapper{
    padding: 0;
  }
  #shopify-section-template--16706659057982__c0a095a4-595a-4308-aac2-d9e3ccdc019b .rich-text__text.rte{
    writing-mode: initial;
    text-align: center;
    font-size: 18px;
  }
  .collection-list .grid--2-col-desktop .grid__item{
    width: 100%;
    max-width: 100%;
  }
  .price__regular .price-value{
    font-size: 20px;
  }
  .price-desc{
    font-size: 12px;
  }
  .recommend-item{
    background-size: 7px 1px;
  }
  #Banner-template--16706659090750__b0378018-d60f-4b3e-8504-c5acb59d27f9{
    margin-bottom: 63px;
    margin-top: -1rem;    
  }
  #Banner-template--16706659090750__b0378018-d60f-4b3e-8504-c5acb59d27f9 img{
    max-height: 180px;
    overflow: hidden;
  } 
  .link-button{
    border-radius: 5px;
    margin: 80px 0 100px;
    width: 335px;
    height: 50px;     
  } 
  .line-button{
    margin: 28px 0 100px;
  }  
  .section-title1{
    margin-bottom: 27px;
  }
  .sub-title{
    margin-bottom: 40px;
  }
  .kodawari-point p:not(.page-section-title), .cooking-top-desc{
    font-size: 14px;
  }
  .cooking-price{
    font-size: 13px !important;
  }
  #cooking-top{
    margin-top: -4.5rem;
    height: calc(48vw + 3.5rem);     
  }
  #kaiseki-top{
    margin-top: -4rem;
    height: calc(48vw + 3rem);    
  }
  #store-info-top{
    margin-top: -1rem;
    height: 48vw;
  }
  .sub-title2 span{
    font-size: 14px;
  }  
  #section-reservation .page-section-title{
    margin-bottom: 30px;
  }  
}