.collection-list {
  margin: 0 auto;
  padding: 0 40px;
}

.collection-list-title {
  margin: 0;
}

.collection-list .grid--2-col-desktop .grid__item
{
  max-width: calc(50% - 20px);
}

.collection-title{
  font-size: 20px;
  margin: 116px 0 0;
  text-align: center;
  font-family: 'Ryo Text PlusN M';
  position: relative;
  display: inline-block;
}

.collection-title span{
  position: relative;
  z-index: 9;
}

.collection-title:before{
  content: '';
  background-image: url(https://cdn.shopify.com/s/files/1/0668/2089/9130/files/title_asset1.png?v=1666425008);
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: block;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%,-50%);
}

.collection-list .grid--2-col-desktop .grid__item{
  width: calc(50% - 20px);
  max-width: calc(50% - 20px);
}

.product-list{
  justify-content: space-between;
}

.product-title{
  font-size: 18px;
  margin: 10px 0 0;
}

.collection-list .collection-wrapper:last-child{
  margin-bottom: 196px;
}

.collection-list .product__media{
  padding-top: 302px!important;
  border: none;
}

@media screen and (max-width: 749px) {
  .collection-list:not(.slider) {
    padding-left: 0;
    padding-right: 0;
  }

  .section-collection-list .page-width {
    padding-left: 0;
    padding-right: 0;
  }

  .section-collection-list .collection-list:not(.slider) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.collection-list__item:only-child {
  max-width: 100%;
  width: 100%;
}

.collection-top-desc{
  background: rgba(255,255,255,.8);
  font-size: 20px;
  max-width: 512px;
  margin: auto;
  box-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
}

.collection-top-desc p{
  writing-mode: vertical-rl;
}

#Banner-template--16706659057982__2bd58e47-0336-43a5-bf20-822f0ab62c61 .banner__media {
  background-color: transparent;
}

#Banner-template--16706659057982__2bd58e47-0336-43a5-bf20-822f0ab62c61 img{
    max-width: 1200px;
    margin: auto;
    left: 50%;
    transform: translateX(-50%);
    height: auto;
}

#shopify-section-template--16706659057982__c0a095a4-595a-4308-aac2-d9e3ccdc019b .rich-text{
  max-width: 512px;
  margin: auto;
  background:  rgb(255 255 255 / 90%); 
  margin: -214px auto 0;
  box-shadow: 0px 3px 6px rgb(0 0 0 / 16%);  
}

.product-featured-media{
  width: 100%;
}

.price__regular{
  color: #B5811E;
  line-height: 1em;
  margin-top: 10px
}

.price__regular .price-value{
  font-size: 32px;
  margin-right: 15px;
}

.price__regular .price-unit{
  font-size: 14px;
}

.collection-list__item.grid__item{
  margin-top: 46px;
}

#shopify-section-template--16706659057982__c0a095a4-595a-4308-aac2-d9e3ccdc019b .rich-text__text.rte{
    writing-mode: vertical-rl;
    text-align: left;
    margin: auto;
    font-size: 20px;
    line-height: 2.5em;
    letter-spacing: .2em;
}
.price-desc{
  font-size: 14px;
}
.text-center{
  text-align: center;
}
@media screen and (max-width: 749px) {
  .slider.collection-list--1-items {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .slider.collection-list--1-items,
  .slider.collection-list--2-items,
  .slider.collection-list--3-items,
  .slider.collection-list--4-items {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 750px) {
  .collection-list__item a:hover {
    box-shadow: none;
  }
}

@media screen and (max-width: 989px) {
  .collection-list.slider .collection-list__item {
    max-width: 100%;
  }
}

.collection-list-view-all {
  margin-top: 2rem;
}

@media(max-width: 767px)
{
  #shopify-section-template--16706659057982__c0a095a4-595a-4308-aac2-d9e3ccdc019b .rich-text{
    margin-top: -30px;
  }
  #Banner-template--16706659057982__2bd58e47-0336-43a5-bf20-822f0ab62c61 .banner__media{
    height: 48vw;
    margin-top: -1rem;
  }
  #shopify-section-template--16706659057982__c0a095a4-595a-4308-aac2-d9e3ccdc019b{
    width: 90vw;
    margin: auto;
  }
  #shopify-section-template--16706659057982__c0a095a4-595a-4308-aac2-d9e3ccdc019b .rich-text__wrapper{
    padding: 0;
  }
  #shopify-section-template--16706659057982__c0a095a4-595a-4308-aac2-d9e3ccdc019b .rich-text__text.rte{
    writing-mode: initial;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0;
  }
  .collection-list .grid--2-col-desktop .grid__item{
    width: 100%;
    max-width: 100%;
  }  
  .collection-title{
    font-size: 18px;
    margin-top: 100px;
  }
  .collection-title:before{
    width: 40px;
    height: 40px;
  }
  .collection-list__item.grid__item{
    margin-top: 40px;
  }
  .product-title{
    font-size: 14px;
  }
  .price__regular .price-value{
    font-size: 20px;
    margin-right: 11px;
  }
  .price-desc{
    font-size: 12px;
  }
  .collection-list .collection-wrapper:last-child{
    margin-bottom: 123px;
  }
  .collection-list .collection-wrapper:nth-child(n+3) .grid--2-col-desktop .grid__item
  {
    width: calc(50% - 4.5px);
    max-width: calc(50% - 4.5px);
  }
}

@media(max-width: 399px)
{
  .collection-list {
    max-width: 335px;
  }
  .collection-list .product__media{
    padding-top: 207px !important;
    border: none !important;
  }
  .collection-list .collection-wrapper:nth-child(n+3) .grid--2-col-desktop .grid__item .product__media{
    padding-top: 101px !important;
  }
  .product__media-list .slider--mobile {
    padding-top: 205px;
    max-width: 335px;    
  }
}