.page-title {
  margin-top: 0;
}

.main-page-title {
  margin-bottom: 3rem;
}

.page-section{
  max-width: 832px;
  margin: 0 auto 100px !important;
}

@media screen and (min-width: 750px) {
  .main-page-title {
    margin-bottom: 4rem;
  }
}

.page-placeholder-wrapper {
  display: flex;
  justify-content: center;
}

.page-placeholder {
  width: 52.5rem;
  height: 52.5rem;
}

.page-top-description{
  width: 100%;
  margin: auto;
  background: #ffffffbf;
  writing-mode: vertical-rl;
  padding: 57px 105px 100px;
  height: 608px;
  display: flex;
  align-items: center;
  line-height: 3em;
  letter-spacing: .2em;
  margin-top: -184px !important;
  z-index: 9;
  position: relative;  
}

.section-title1{
  font-size: 24px;
  margin-bottom: 47px;
}

.page-section-title{
  text-align: center;
  font-family: 'Ryo Text PlusN M';
}

.page-section-title span{
  position: relative;
}

.section-title1 span:before,.section-title1 span:after{
  content: '';
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
}

.section-title1 span:before{
  background-image: url(https://cdn.shopify.com/s/files/1/0668/2089/9130/files/title_asset5.png?v=1666425008);
  left: 0;
  bottom: 0;
  transform: translateX(-100%); 
  width: 140px;
  height: 40px;  

}

.section-title1 span:after{
  background-image: url(https://cdn.shopify.com/s/files/1/0668/2089/9130/files/title_asset2.png?v=1666425008);
  width: 100px;
  height: 25px;
  right: -30%;
  bottom: 0;
  transform: translateX(100%);
}

.sub-title{
  font-size: 20px;
  margin-bottom: 50px;
}

.sub-title span:before{
  content: '';
  background-image: url(https://cdn.shopify.com/s/files/1/0668/2089/9130/files/title_asset1.png?v=1666425008);
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: block;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%,-50%);
}

.section-title2{
  font-size: 20px;
  margin-bottom: 47px;
}

.section-title2 span:before,.section-title2 span:after{
  content: '';
  position: absolute;
  width: 100px;
  height: 1px;
  border-top: 1px solid #333;
  top: 50%;
  transform: translate(-50%);
}

.section-title2 span:before{
  left: -55%;
}

.section-title2 span:after{
  right: -55%;
}

.parallex{
  /* Set a specific height */
  min-height: 514px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block !important;
}

.link-button{
  border-radius: 10px;
  border-radius: none;
  width: 400px;
  height: 60px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.button-type1{
  background: #333;
  color: white !important;
  margin-top: 100px;  
}

.button-type2{
  background: #B5811E;
  color: white !important;
}

.text-center{
  text-align: center;
}

.reservation-box{
  border: 1px solid #333333;
  margin-top: 58px;
}

.reservation-box-inner{
    max-width: 360px;
    margin: auto;
}

#koshihikari{
  margin-top: 76px;
}

.reservation-box .border-bottom{
  padding-bottom: 17px;
  border-bottom: 1px solid #333;
  margin-top: 50px;
}

.reservation-box .contact-info{
  font-size: 26px;
  display: flex;
  justify-content: center;
  align-items: center;;
}

.reservation-box .contact-info img{
  width: 24px;
  margin-bottom: 0;
}

.reservation-box-inner .link-button{
  margin-bottom: 90px;
}

.reservation-wrapper{
  margin-top: 120px;
}

.cooking-top-desc{
  margin-top: 150px;
}

.line-button{
  margin: 40px auto 120px;
}

.line-button span{
  background-image: url("https://cdn.shopify.com/s/files/1/0668/2089/9130/files/line-bg.png?v=1666421704");
  background-size: 100% 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: Heisei Maru Gothic Std;
  color: white;
  font-size: 30px;
  width: 360px;
  height: 70px;
}

.line-button span img{
  margin-right: 15px;
}

.cooking-price{
  display: flex;
  justify-content: space-between;
  max-width: 480px;
  margin: auto;
  border-bottom: 1px solid #333333;
  padding-bottom: 10px;
  margin-top: 30px;
}

.first-section{
  margin-top: 150px !important;
}

.recommends{
  max-width: 700px;
  margin: auto;
  background: white;
  padding: 75px 150px 80px;
}

.recommend-item{
  background-image: linear-gradient(to right,#333 50%,white 0%);
  background-position: bottom;
  background-size: 3px 1px;
  background-repeat: repeat-x;
  padding: 40px 0 40px 25px;
}

.section-title3{
  display: inline-block;
  position: relative;
  margin: 0 0 40px;
}

.section-title3:before{
  content: "";
  background-image: url(https://cdn.shopify.com/s/files/1/0668/2089/9130/files/title_asset4.png?v=1666425008);
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: block;
  width: 140%;
  height: 220%;
  position: absolute;
  left: -20%;
  top: 0%;
  font-size: 20px;
}

.sub-title2{
  position: relative;
  display: inline-block;
  width: 80px;
  margin: 0;
}

.sub-title2 span{
  position: relative;
  z-index: 9;
}

.sub-title2:before{
  content: '';
  background-image: url(https://cdn.shopify.com/s/files/1/0668/2089/9130/files/title_asset3.png?v=1666425008);
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: block;
  width: 42px;
  height: 42px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%,-50%);  
}

.recommend-name{
  color: #6B5409;
}

.store-info-point{
  max-width: 642px;
  margin: auto;
}

.store-info-point table{
    -webkit-border-horizontal-spacing: 30px;
    border-collapse: separate;
    margin: auto;
    box-shadow: none;
    table-layout: auto !important;
    width: 100%;
}

.store-info-point table tr td{
  padding: 30px 0 20px;
}

.store-info-point table tr td:first-child{
  border: none;
  border-bottom: 1px solid #B5811E;
  text-align: right;
  vertical-align: bottom;
}

.store-info-point table tr td:last-child{
  border: none;
  border-bottom: 1px solid #333333;
}

.store-info-note p{
  position: relative;
  margin: 0;
  padding-left: 15px;
}

.store-info-note p:before{
  content: '';
  background-image: url(https://cdn.shopify.com/s/files/1/0668/2089/9130/files/note-mark.png?v=1666576981);
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: block;
  width: 16px;
  height: 10px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%,-50%);    
}

.store-map{
  max-width: 1200px !important;
  margin: auto;
}

.gmap-container{
  height: 400px;
}

.gmap-container iframe{
  height: 100%;
  width: 100%;
}

.map-desc{
  font-size: 14px;
  margin: 10px 0;
}

.button:not([disabled]):hover:after{
  --border-offset: 0;
}

.top-content{
  max-width: 652px;
  margin: auto;
}
.top-content-logo{
  max-width: 98px;
  text-align: center;
  margin: 0 auto 60px;
}
.top-content .site-map{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.top-content .site-map a{
  background-image: url(https://cdn.shopify.com/s/files/1/0669/8850/7419/files/hexagon.png?v=1666715972);
  width: 148px;
  height: 160px;
  writing-mode: vertical-rl;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;    
}

.top-content .site-map a:not(:first-child){
  margin-left: 20px;
}