#shopify-section-sidebar {
    width: 220px;
    color: #fff;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    background: rgba(255, 255, 255, .7);
    text-align: center;
}

#shopify-section-sidebar ul li{
    list-style: none;
}

#shopify-section-sidebar ul li:not(:last-child):after{
    content: "";
    display: block;
    height: 5px;
    background-image: url('https://cdn.shopify.com/s/files/1/0667/7699/0014/files/sidemenu-item-border.png?v=1666753409');
    background-repeat: no-repeat;
    background-position: center bottom;
}

#shopify-section-sidebar ul li a, .header__active-menu-item {
    padding: 27px 0;
    display: block;
    color: #333333;
    border-bottom: 1px solid rgba(255,255,255,.1);
    font-size: 14px;
    text-decoration: none;
}

.header__menu-item:hover span{
    text-decoration: none;
}

#shopify-section-sidebar ul li a:hover{
    color: #B5811E;
    text-decoration: none;
}

.sidebar-logo{
    width: 78px;
    margin: 30px auto;
}

.mb-xlg{
    margin-bottom: 120px;
}

@media(max-width: 990px)
{
    #shopify-section-sidebar {    
        display: none;
    }
}